*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 2px;
	text-align: center;
}

header {
	padding: 5px;
	background: lightblue;
	border-radius: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

section{
	width: 98%;
	height: 700px;
	background: white;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.main * {
	border-radius: 10px;
}
.main {
	margin: 10px 0px;
}

.main:: after {
	content: "";
	clear: both;
	display: table;
}